html,
body {
  overflow-y: auto;
}

.container-fluid {
  padding: 0;
}

.row {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.col-md-4 {
  padding: 0;
  height:100%;
  display:flex;
  flex-direction:column;
}

.right-col {
  border-left: 1px solid rgba(184, 176, 176, 0.25);
}

.left-col{
  border-right: 1px solid rgba(184, 176, 176, 0.25);
}

.title {
  width: 100%;
  height: auto;
}

.eosdis {
  margin:0rem;
  padding:.5rem;
  color: white;
  /* font-family: "Maven Pro", sans-serif; */
  text-align: center;
}

.appresults {
  background-color: white;
  width: 100%;
  height: auto;
  direction: rtl;
  overflow-y: auto;
  padding-inline-start: 0px;
}

.appresults button {
  border-width: 1px;
}

.btn {
  margin:.3rem;
}

.btn-lg {
  margin-bottom:.5rem;
}

.app {
  width: 100%;
  direction: ltr;
}

.selected-app {
  background-color: gray;
  /* font-family: "Maven Pro", sans-serif; */
  font-weight: bold;
  text-align: center;
}

form {
  margin: 0;
}

.fa-exclamation {
  color: rgb(179, 69, 69);
  font-size: 15px;
}

/* Spacer Column */
.spacer {
  display: inline-table;
  width: 50px;
}

/* Right (Main) Side */

.main {
  display: inline-flex;
  overflow-x: auto;
  height: 100%;
  width: 100%;
}

.appmain {
  height: 100%;
  width: 100%;
  align-content: center;
}

.screenshot {
  border-color:#ddd;
  border-width:2px;
  border-style: solid;
  max-width: 850px;
  max-height: 600px;
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin-top: 1vh;
  height: auto;
  width: 100%;
  text-align: center;
  overflow-wrap: normal;
  word-wrap: normal;
}

.datasets {
  background-color: white;
  height: 100%;
  width: 30%;
  max-width: 350px;
  display: inline-table;
  position: absolute;
  right: 0;
}

.dataset-head {
  background-color: black;
  width: 100%;
  height: auto;
  padding:.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataset-results {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0.5rem;
}

.dataset-div {
  width: 100%;
  /* font-family: "Maven Pro", sans-serif; */
  text-align: center;
  border-bottom: 1px solid rgba(184, 176, 176, 0.25);
}

.more-options {
  text-align: right;
}

#more_options {
  width: 17rem;
}

.tooltip{
  pointer-events: none;
}

.fa-comment {
  float:left;
  margin:0.4rem;
}

.annotation_form {
  padding: 0.2rem 0.5rem;
}

.dataset-btn {
  /* font-family: "Maven Pro", sans-serif; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 25px;
  width: 70%;
}

.transparent {
  background: transparent;
  border: none;
  color: darkgrey;
  margin: 0;
}

.annotation {
  float:left;
}

.font {
  position:relative;
}

h1 {
  color: initial;
}

.container-fluid {
  padding-top: 6rem;
}

.heading > h1 > .badge.bg-info {
  font-size: .4em;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.essential-variable-pill {
  font-size: 12px;
  vertical-align: middle;
}