html,
body {
  overflow-y: initial;
  overflow-x: initial;
}

.main {
  height: auto;
  padding-top: 125px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  background: white;
  overflow-y: auto;
  border-radius: 5px;
}

.topic-btn {
  margin: 15px;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 230px; /* Box dimensions */
  height: 175px;

  border-radius: 4px; /* Styling */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.56s ease-in-out; /* Animation */
  /* background-color: rgba(0,0,0,.2); /* for debugging */
}

/* Shows an outer shadow */
.card:hover {
  /* Just for styling */
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

/* Cards titles styling
------------------------------------------ */
.card__title {
  /* Just for styling */
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-self: flex-end;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 400;
}

/* Styles for:
** - Using IMG tag inside a container
------------------------------------------ */
/* The image container */
.card__thumbnail {
  margin: 0;
  background-color: gray;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */

  width: 100%; /* Thumbnail dimensions. */
  height: 100%; /*** Change the height to make the image smaller ***/
  /* background-color: rgba(0,0,0,.2);  /* for debugging */
}

/* Sets the image dimensions */
.card__thumbnail > img {
  /* Tip: use 1:1 ratio images */
  height: 100%; /* or width when img.width > img.height */
}

/* Styles the title inside the img container */
.card__thumbnail > .card__title {
  /* Just for styling */
  position: absolute;
  left: 0;
  bottom: 0;
}
