<html lang="en">
<head>
  <title>Usage Based Discovery | About</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='nasalogo.png') }}" />
  <script type="text/javascript" src="https://fbm.earthdata.nasa.gov/for/Usage%20Based%20Discovery/feedback.js"></script>
  <script>feedback.init();</script>
</head>

<body>
  <div class="container">
    <div class="topbar">
      <h1 style="text-align: left;">
        <a href="{{ url_for('topics') }}" style="color: white; text-decoration: none;">
            Usage Based Discovery
        </a>
      </h1>
    </div>

    <div class="main">
      <h2>Who are We?</h2>
      <p>
        We are a team under NASA's Earth Observing System Data and Information
        System looking to improve search relevancy for <br />
        earth science data through the concept of usage-based discovery.
      </p>
      <br><br>
      <h2>What is Usage-Based Discovery?</h2>
      <p>
        Instead of traditional methods for identifying datasets of interest
        through specific dataset features, quality data <br />
        is identified through the way in which it is seen and used in real-world
        applications. This can also be interpreted as social <br />
        data discovery, where essentially discovering this data is a
        collaborative process across the general community.
      </p>
      <br><br>
      <p>
        <strong>Know of an existing application-dataset relationship? <br>
          Click
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSd8yG_ypVoIn30YPlNUG0i7bfxe3a6aTNqWUnxK8I3J6BO-Ew/viewform"
            target="_blank"
          >here</a>
          to contribute to the social data discovery effort! Thanks for helping
          out!
        </strong>
      </p>
    </div>
  </div>
</body>
