<html>
	<head>
		<title>
			add-relationship
		</title>
		  <meta charset="utf-8" />
		  <meta name="viewport" content="width=device-width, initial-scale=1" />
		  <!-- CSS only -->
		  <link
		    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
		    rel="stylesheet"
		    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
		    crossorigin="anonymous"
		  />

		  <link
		    href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap"
		    rel="stylesheet"
		  />
	 
	</head>

<body>
<div class="container-sm">
	<!-- 
     		these set of if statements is to set the values in the input to none if the submission was valid
	-->
	{% if status == "success" %}
	{% set f = none %}
	{% else %}
	{% set f = form %}
	{% endif %}
	<form class=form action="/dev/add-relationship" method="post">

	  <div class="form-group">
		<label>Application Name</label>
		<input type="text" class="form-control" id="formGroupExampleInput" name="Application_Name" placeholder="Application name" value={{f.Application_Name}}>
	  </div>
	  <div class="form-group">
	  	<label>Topic</label>
		<select class="form-control" name="Topic">
			<option>Choose..</option>
			{% for t in topics %}
			<option>{{t}}</option>
			{% endfor %}
		</select>
		<!--		<input type="text" class="form-control" id="formGroupExampleInput2" name="Topic" placeholder="Topic" value={{f.Topic}}> -->
	  </div>
	  <div class="form-group">
	  	<label>Application Website</label>
		<input type="text" class="form-control" id="formGroupExampleInput3" name="site" placeholder="Website" value={{f.site}}>
	  </div>
	  <div class="form-group">
	  	<label>Publication Link</label>
		<input type="text" class="form-control" id="formGroupExampleInput4" name="Publication_Link" placeholder="Publication link" value={{f.Publication_Link}}>
	  </div>
	  <div class="form-group">
		<label>Dataset Name</label>
		<input type="text" class="form-control" id="formGroupExampleInput5" name="Dataset_Name" placeholder="Dataset name" value={{f.Dataset_Name}}>
	  </div>
	  <div class="form-group">
	  	<label>Dataset DOI</label>
		<input type="text" class="form-control" id="formGroupExampleInput2" name="DOI" placeholder="DOI" value={{f.DOI}}>
	  </div>
	
	  <button type="submit" class="btn btn-primary">Submit</button>

	</form>
	{% if status == "success" %}
	<div class="alert alert-success" role="alert">
	  This is a success alert—check it out!
	</div>
	<h3>Values added to database:</h3>
		{% for key, value in form.items() %}
		<p>{{key}}: {{value}}</p>
		{% endfor %}
	{% endif %}

	{% if status == "failure" %}
	<div class="alert alert-danger" role="alert">
	  This is a danger alert—check it out!
	</div>
	{% endif %}
</div>
<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>
<style>
.form-group{
	margin-bottom:.5rem;
}
.form{
	width:50%;
}
</style>
</body>
</html>
