<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/space-meatball" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="../../static/esip-icon.png">

    <style>
      

        body {
            background-color: black;
            

        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>
<br>
<h1 style="text-align: center; color: whitesmoke">ESIP Data Usage Search</h1>

<br>
<a href="https://search.earthdata.nasa.gov/search">
    <img src="../../static/esipfavicon.png" alt="esip" width="150" height="130" />
</a>

{% block main %}
{% endblock %}