<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='esip-icon.png') }}">

</head>

<body>
<div class="sidebar">
    <h1 style="text-align: center; color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">ESIP Data Usage Search</h1>
    
    <div class="filter">

    </div>
</div>

<div class="main">

    <img src="{{ url_for('static', filename='esipfavicon.png') }}" alt="esip" width="150" height="130" />


    <iframe src="https://tinkerpop.apache.org/docs/3.4.8/tutorials/getting-started/"></iframe>

</div>

{% block main %}
{% endblock %}


</body>