<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Usage Based Discovery | Explore</title>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='nasalogo.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
  <script src="https://d3js.org/d3.v6.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="topbar">
      <h1 style="text-align:left;">
        <a href= "{{ url_for('topics') }}" style="color: white; text-decoration: none;">Usage Based Discovery</a>
        <span style="float:right;">
          <a href="{{ url_for('about') }}" style="color: white; font-size: x-large;">About</a>&emsp;
        </span>
      </h1>
    </div>
  </div>
  <script> var data = {{data|tojson}} </script>
  <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
</body>

</html>
