<html>
<head>
  <title>Usage Based Discovery | Home</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap"
    rel="stylesheet"
  />
  <link rel="icon" type="image/png" href="static/nasalogo.png">
  <link rel="stylesheet" type="text/css" href="{{stage}}/static/init.css">
</head>
<body>
  <div class="container">
    <div class="topbar">
      <h1 style="text-align: left;">
        Usage Based Discovery
        <span style="float: right;">
          <a href="{{stage}}/explore" style="font-size: x-large;">Explore</a
          >&emsp;
          <a href="{{stage}}/about" style="font-size: x-large;">About</a>&emsp;
          {% if in_session %}
          <a href="{{stage}}/add-relationship" style="font-size: x-large;"
            >Add Content</a
          >&emsp;
          <a href="{{stage}}/logout" style="font-size: x-large;">Logout</a
          >&emsp; {% else %}
          <a href="{{stage}}/auth" style="font-size: x-large;">Login</a>&emsp;
          {% endif %}
        </span>
      </h1>
    </div>

    <div class="main">
      <div class="menu-container">
        <div class="button-container">
          {% for topic, screenshot in topics_screenshot_zip %}
          <a class="topic-btn" href="{{stage}}/{{topic}}/all">
            <div class="card">
              <figure class="card__thumbnail">
                <img src="{{screenshot}}" />
                <span class="card__title">{{topic}}</span>
              </figure>
            </div>
          </a>
          {% endfor %}
        </div>
        <p>
	  <a href="{{stage}}/topic-attribution">Source of All Images</a>
        </p>
      </div>
    </div>
  </div>
</body>
