<html lang="en">
<head>
  <title>Usage Based Discovery | Attributions</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <link
    href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topic-attribution.css') }}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='esip-icon.png') }}" />
  <script type="text/javascript" src="https://fbm.earthdata.nasa.gov/for/Usage%20Based%20Discovery/feedback.js"></script>
  <script>feedback.init();</script>
</head>

<body>
  <div class="topbar">
    <h1 style="text-align: left;">
      <a href="{{ url_for('topics') }}" class="navbar-brand">Usage Based Discovery</a>&emsp;
      <span style="float: right;">
        <a href="{{ url_for('explore') }}" style="font-size: x-large;">Explore</a>&emsp;
        <a href="{{ url_for('about') }}" style="font-size: x-large;">About</a>&emsp;
        {% if in_session %}
        <a href="{{ url_for('leader_board') }}" style="font-size: x-large;">Leaderboard</a>&emsp;
        <a href="{{ url_for('add_relationship') }}" style="font-size: x-large;">Add Content</a>&emsp;
        <a href="{{ url_for('logout') }}" style="font-size: x-large;">Logout</a>&emsp; {% else %}
        <a href="{{ url_for('auth') }}" style="font-size: x-large;">Login</a>&emsp;
        {% endif %}
      </span>
    </h1>
  </div>
  <div class="container">
    <div class="main">
      <h2>Image attributions</h2>
      <p>Agriculture: Sharon Rosseels - Unsplash</p>
      <p>Air Quality: Amir Hosseini - Unsplash</p>
      <p>Atmospheric Aerosols: ahmed syed - Unsplash</p>
      <p>Cyclones: NASA - Unsplash</p>
      <p>Earthquakes: Shefali Lincoln - Unsplash</p>
      <p>Energy: Fre Sonneveld - Unsplash</p>
      <p>Fires: Matt Palmer - Unsplash</p>
      <p>Floods: Jean Beller - Unsplash</p>
      <p>Human Activity: Anthony Fomin - Unsplash</p>
      <p>Landslides: Wolfgang Hassel - Unsplash</p>
      <p>Precipitation: Eliad Kauerhof - Unsplash</p>
      <p>Snow: Damian McCoig - Unsplash</p>
      <p>Soil Properties: Dylan De Jonge - Unsplash</p>
      <p>Storms: Amy Luschen - Unsplash</p>
      <p>Volcanoes: Marc Szeglat - Unsplash</p>
      <p>Water Resources: Anastasia Taioglo - Unsplash</p>
    </div>
  </div>
</body>
