<html lang="en">
<head>
  <title>Usage Based Discovery | Attributions</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap"
    rel="stylesheet"
  />
  <link rel="shortcut icon" type="image/png" href="{{stage}}/static/nasalogo.png" />
  <style rel="stylesheet" type="text/css" href="{{stage}}/static/main.css"></style>
</head>

<body>
  <div class="container">
    <div class="topbar">
      <h1 style="text-align: left;">
        <a href="{{stage}}/" style="color: white; text-decoration: none;">
          Usage Based Discovery
        </a>
      </h1>
    </div>

    <div class="main">
      <h2>Image attributions</h2>
      <p>Agriculture: Sharon Rosseels - Unsplash</p>
      <p>Air Quality: Amir Hosseini - Unsplash</p>
      <p>Atmospheric Aerosols: ahmed syed - Unsplash</p>
      <p>Cyclones: NASA - Unsplash</p>
      <p>Earthquakes: Shefali Lincoln - Unsplash</p>
      <p>Energy: Fre Sonneveld - Unsplash</p>
      <p>Fires: Matt Palmer - Unsplash</p>
      <p>Floods: Jean Beller - Unsplash</p>
      <p>Human Activity: Anthony Fomin - Unsplash</p>
      <p>Landslides: Wolfgang Hassel - Unsplash</p>
      <p>Precipitation: Eliad Kauerhof - Unsplash</p>
      <p>Snow: Damian McCoig - Unsplash</p>
      <p>Soil Properties: Dylan De Jonge - Unsplash</p>
      <p>Storms: Amy Luschen - Unsplash</p>
      <p>Volcanoes: Marc Szeglat - Unsplash</p>
      <p>Water Resources: Anastasia Taioglo - Unsplash</p>
      <p></p>
    </div>
  </div>
</body>
